@import "~scss/variables";
@import "~/app/assets/scss/postnl-colors";

$sw-button-transition: all 0.15s ease-out;

.postnl-button {
    border: 1px solid transparent;
    border-radius: $border-radius-default;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-xs;
    font-weight: $font-weight-semi-bold;
    line-height: 34px;
    margin: 0;
    outline: none;
    padding: 2px 24px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: $sw-button-transition;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &, &.sw-internal-link, &.sw-external-link {
        .sw-external-link__icon {
            display: none;
        }

        &, &:not(.mt-internal-link, .mt-link--external, .mt-link--internal, .mt-button) { //Added to increase CSS specificity
            text-decoration: none;
            font-size: $font-size-xs;
            display: inline-block;

            &, &:hover, &:active, &:disabled, &:visited {
                color: $color-white;
                border-color: $color-postnl-500;
                background-color: $color-postnl-500;
            }

            &:focus-visible {
                outline: revert;
            }

            &:hover:not(:disabled, .postnl-button--disabled) {
                background: $color-postnl-700;
                border-color: $color-postnl-700;
            }

            &:active:not(:disabled, .postnl-button--disabled) {
                background: $color-postnl-800;
                border-color: $color-postnl-800;
            }

            &:disabled, &.postnl-button--disabled {
                color: $color-white;
                background-color: $color-postnl-100;
                border-color: $color-postnl-100;
                cursor: not-allowed;
            }

            &.postnl-button--small {
                padding-left: 15px;
                padding-right: 15px;
                font-size: $font-size-xxs;
                line-height: 26px;

                &.postnl-button--square {
                    width: 32px;
                }
            }

            &.postnl-button--x-small {
                padding-left: 10px;
                padding-right: 10px;
                font-size: $font-size-xxs;
                line-height: $line-height-xs;

                &.postnl-button--square {
                    width: 24px;
                }
            }

            &.postnl-button--square {
                width: 40px;
                padding-left: 0;
                padding-right: 0;
                text-align: center;

                .postnl-button__content {
                    display: inline;
                }
            }

            & .mt-icon {
                color: $color-white;
            }

            &.postnl-button--ghost {
                color: $color-postnl-500;
                border-color: $color-postnl-500;
                background-color: transparent;

                &:hover:not(:disabled, .postnl-button--disabled) {
                    background: $color-postnl-50;
                    border-color: $color-postnl-600;
                    color: $color-postnl-600;
                }

                &:active:not(:disabled, .postnl-button--disabled) {
                    background: $color-postnl-100;
                    border-color: $color-postnl-700;
                    color: $color-postnl-700;
                }

                &:disabled, &.postnl-button--disabled {
                    color: $color-postnl-200;
                    border-color: $color-postnl-200;
                }

                .sw-loader .sw-loader-element div {
                    border-color: $color-postnl-200 transparent transparent transparent;
                }

                & .mt-icon {
                    color: $color-postnl-500;
                }
            }
        }
    }

    .postnl-button__content {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 0 8px;
    }

    .postnl-button__content.is--hidden {
        visibility: hidden;
    }

    .sw-loader .sw-loader-element div {
        border-color: $color-white transparent transparent transparent;
    }

    .postnl-button__loader {
        position: absolute;
        left: 50%;
        top: 50%;
    }
}
