parameters:
  level: 8
  paths:
    - ./src
  excludes_analyse:
    - ./src/Component/PostNL/*
    - ./src/Controller/*
    - ./src/Resources/*
    - ./src/Service/*
    - ./src/Subscriber/*

services:
    - class: PostNL\Shopware6\PHPStan\Rules\NoManufacturerRule
      tags:
        - phpstan.rules.rule
    - class: PostNL\Shopware6\PHPStan\Rules\StrictTypeRule
      tags:
        - phpstan.rules.rule
