.postnl-product-selection {
    position: relative;

    .sw-label {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .sw-field--switch {
        margin: 0;
    }

    .sw-help-text {
        margin-top: 0.5rem;
    }
}
