.postnl-shipping-method > div {
    margin: .5rem 0 .5rem 1.5rem;
}

.custom-control-input:checked ~ .postnl-shipping-method {
    display: block;
}

.postnl-pickup-point:not(:last-child) {
    margin-bottom: 8px;
}

.postnl-shipping-method__shipment {
    &--delivery {
        &:not(:first-child) {
            margin-top: .8rem;
        }

        border-bottom: 1px solid $sw-border-color;

        &-date {
            margin: .5rem 0;

            .custom-control-label {
                width: 100%;
            }
        }
    }
}
