<sw-container class="postnl-config-info" gap="1rem" columns="3fr 1fr">
    <div>
        <h3>{{ $t('postnl.config.info.title', {username: userName}) }}</h3>

        <ol class="onboarding-steps">
            <i18n-t keypath="postnl.config.info.onboardingStep1" tag="li" scope="local">
                <template #link>
                    <sw-external-link
                        href="https://mijn.postnl.nl/c/BP2_Mod_Login.app?inresponseto=&RelayState=&startURL=%2F">
                        {{ $tc('postnl.config.info.mijnPostNL') }}
                    </sw-external-link>
                </template>
            </i18n-t>

            <i18n-t keypath="postnl.config.info.onboardingStep2" tag="li" scope="local">
                <template #br><br></template>
                <template #link>
                    <sw-internal-link inline :routerLink="{ name:'sw.settings.shipping.index'}">
                        {{ $tc('postnl.config.info.shippingSettings') }}
                    </sw-internal-link>
                </template>
            </i18n-t>

            <i18n-t keypath="postnl.config.info.onboardingStep3" tag="li" scope="local">
                <template #br><br></template>
                <template #link>
                    <sw-internal-link inline :routerLink="{ name:'sw.sales.channel.list'}">
                        {{ $tc('postnl.config.info.salesChannels') }}
                    </sw-internal-link>
                </template>
            </i18n-t>
        </ol>
    </div>

    <sw-container
        class="sidebar"
        gap="1rem"
        columns="1fr"
        align="start"
    >
        <mt-button
            link="https://postnl.github.io/shopware/"
            variant="action"
            size="default"
            block
        >
            <mt-icon name="regular-file-text"/>
            {{ $tc('postnl.config.info.btnManual') }}
        </mt-button>

        <mt-button
            link="mailto:digitaleklantsupport@postnl.nl"
            variant="action"
            size="default"
            block
        >
            <mt-icon name="regular-envelope"/>
            {{ $tc('postnl.config.info.btnSupport') }}
        </mt-button>
    </sw-container>
</sw-container>
