@import "~scss/variables";

.postnl-config-info {
    h1, h2, h3, h4 {
        font-weight: $font-weight-bold !important;
    }

    .onboarding-steps {
        margin-left: 2rem;

        li {
            margin-bottom: 1rem;
        }
    }

    .sidebar {
        align-content: flex-start;
    }
}
