{% block postnl_shipping_method_shipment %}
    <div class="postnl-shipping-method__shipment">
        <select name="postnl-shipping-delivery-time"
                class="custom-select">
            <option value="">Select a delivery day</option>
            {% set days=['Mon','Tue','Wed','Thu','Fri','Sat'] %}
            {% for timeframe in context.shippingMethod.extensions.postnl_shipment.elements %}
                <option>
                    {{ timeframe.from |format_datetime('full', 'none')}} {{ timeframe.from |format_datetime('none', 'short')}} - {{ timeframe.to |format_datetime('none', 'short')}}
                </option>
            {% endfor %}

        </select>
    </div>
{% endblock %}
