<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <component name="postnl-config-info">
            <name>postnlPluginConfigSectionInfo</name>
        </component>
    </card>

    <card>
        <title>Account Settings</title>
        <title lang="de-DE">Kontoeinstellungen</title>
        <title lang="nl-NL">Account Instellingen</title>

        <input-field type="password">
            <name>productionApiKey</name>
            <copyable>true</copyable>
            <label>Production API Key</label>
            <label lang="de-DE">Produktions-API-Schlüssel</label>
            <label lang="nl-NL">Productie API Key</label>
        </input-field>

        <input-field type="password">
            <name>sandboxApiKey</name>
            <copyable>true</copyable>
            <label>Sandbox API Key</label>
            <label lang="de-DE">Sandbox-API-Schlüssel</label>
            <label lang="nl-NL">Sandbox API Key</label>
        </input-field>

        <input-field type="single-select">
            <name>apiMode</name>
            <label>API mode (The sandbox can be used for testing)</label>
            <label lang="de-DE">API-Modus (Die Sandbox kann für Tests verwendet werden)</label>
            <label lang="nl-NL">API modus (De sandbox kan worden gebruikt voor testen)</label>
            <defaultValue>production</defaultValue>
            <options>
                <option>
                    <id>production</id>
                    <name>Production</name>
                    <name lang="de-DE">Production</name>
                    <name lang="nl-NL">Productie</name>
                </option>
                <option>
                    <id>sandbox</id>
                    <name>Sandbox</name>
                    <name lang="de-DE">Sandbox</name>
                    <name lang="nl-NL">Sandbox</name>
                </option>
            </options>
        </input-field>

        <component name="postnl-config-customer-data">
            <name>customerData</name>
            <label>Customer Details</label>
            <label lang="de-DE">Kundendaten</label>
            <label lang="nl-NL">Klantgegevens</label>
        </component>

        <component name="postnl-config-api-credentials-test">
            <name>apiCredentialsTest</name>
            <label>API Connection test</label>
            <label lang="de-DE">API Verbindung testen</label>
            <label lang="nl-NL">API Verbinding testen</label>
        </component>
    </card>

    <card>
        <title>Address details</title>
        <title lang="de-DE">Angaben zur Adresse</title>
        <title lang="nl-NL">Adresgegevens</title>

        <component name="postnl-config-sender-address">
            <name>senderAddress</name>
            <label>Sender address</label>
            <label lang="de-DE">Absender-Adresse</label>
            <label lang="nl-NL">Adres afzender</label>
        </component>

        <component name="postnl-config-return-address">
            <name>returnAddress</name>
            <label>Return address</label>
            <label lang="de-DE">Rücksendeadresse</label>
            <label lang="nl-NL">Retour adres</label>
        </component>
    </card>

    <card>
        <title>Default Shipping Products</title>
        <title lang="de-DE">Standard-Versandprodukte</title>
        <title lang="nl-NL">Standaard verzendproducten</title>

        <component name="postnl-config-product-selection-shipment-nl-nl-default">
            <name>productShipmentNlNlDefault</name>
            <label>Standard shipment, from NL to NL</label>
            <label lang="de-DE">Standardversand, von NL nach NL</label>
            <label lang="nl-NL">Standaard zending, van NL naar NL</label>
        </component>

        <component name="postnl-config-product-selection-shipment-nl-nl-alternative">
            <name>productShipmentNlNlAlternative</name>
            <label>Standard shipment, from NL to NL - Alternative</label>
            <label lang="de-DE">Standardversand, von NL nach NL - Alternativ</label>
            <label lang="nl-NL">Standaard zending, van NL naar NL - Alternatief</label>
        </component>

        <component name="postnl-config-product-selection-pickup-nl-nl-default">
            <name>productPickupNlNlDefault</name>
            <label>Pick-up at PostNL location, from NL to NL</label>
            <label lang="de-DE">Abholung am PostNL-Standort, von NL nach NL</label>
            <label lang="nl-NL">Ophalen bij een PostNL-punt, van NL naar NL</label>
        </component>

        <component name="postnl-config-product-selection-shipment-nl-be-default">
            <name>productShipmentNlBeDefault</name>
            <label>Standard shipment, from NL to BE</label>
            <label lang="de-DE">Standardversand, von NL nach BE</label>
            <label lang="nl-NL">Standaard zending, van NL naar BE</label>
        </component>

        <component name="postnl-config-product-selection-shipment-nl-be-alternative">
            <name>productShipmentNlBeAlternative</name>
            <label>Standard shipment, from NL to BE - Alternative</label>
            <label lang="de-DE">Standardversand, von NL nach BE - Alternativ</label>
            <label lang="nl-NL">Standaard zending, van NL naar BE - Alternatief</label>
        </component>

        <component name="postnl-config-product-selection-pickup-nl-be-default">
            <name>productPickupNlBeDefault</name>
            <label>Pick-up at PostNL location, from NL to BE</label>
            <label lang="de-DE">Abholung am PostNL-Standort, von NL nach BE</label>
            <label lang="nl-NL">Ophalen bij een PostNL-punt, van NL naar BE</label>
        </component>


        <component name="postnl-config-product-selection-shipment-be-be-default">
            <name>productShipmentBeBeDefault</name>
            <label>Standard shipment, from BE to BE</label>
            <label lang="de-DE">Standardversand, von BE nach BE</label>
            <label lang="nl-NL">Standaard zending, van BE naar BE</label>
        </component>

        <component name="postnl-config-product-selection-shipment-be-be-alternative">
            <name>productShipmentBeBeAlternative</name>
            <label>Standard shipment, from BE to BE - Alternative</label>
            <label lang="de-DE">Standardversand, von BE nach BE - Alternativ</label>
            <label lang="nl-NL">Standaard zending, van BE naar BE - Alternatief</label>
        </component>

        <component name="postnl-config-product-selection-pickup-be-be-default">
            <name>productPickupBeBeDefault</name>
            <label>Pick-up at PostNL location, from BE to BE</label>
            <label lang="de-DE">Abholung am PostNL-Standort, von BE nach BE</label>
            <label lang="nl-NL">Ophalen bij een PostNL-punt, van BE naar BE</label>
        </component>

        <input-field type="bool">
            <name>sendToEU</name>
            <label>Enable shipments to Europe</label>
            <label lang="de-DE">Versand nach Europa ermöglichen</label>
            <label lang="nl-NL">Zendingen naar Europa inschakelen</label>
            <helpText>
                When shipping from the Netherlands, shipments to the Netherlands or Belgium are not regarded as shipments to Europe.
                When shipping from Belgium, only shipments to Belgium are not regarded as shipments to Europe, shipping to the Netherlands is regarded as shipping to Europe.
                For a list of all other European countries, please check https://www.postnl.nl/klantenservice/algemene-vragen/landen-europese-unie/
            </helpText>
            <helpText lang="de-DE">
                Beim Versand aus den Niederlanden gelten Sendungen nach den Niederlanden oder Belgien nicht als Sendungen nach Europa.
                Beim Versand aus Belgien gelten nur Sendungen nach Belgien nicht als Sendungen nach Europa, Sendungen nach den Niederlanden gelten als Sendungen nach Europa.
                Eine Liste aller anderen europäischen Länder finden Sie auf https://www.postnl.nl/klantenservice/algemene-vragen/landen-europese-unie/
            </helpText>
            <helpText lang="nl-NL">
                Bij verzending vanuit Nederland worden verzendingen naar Nederland of België niet beschouwd als verzending naar Europa.
                Bij verzending vanuit België worden alleen zendingen naar België niet beschouwd als zendingen naar Europa, zendingen naar Nederland worden wel beschouwd als zendingen naar Europa.
                Voor een lijst van alle andere Europese landen, kijk op https://www.postnl.nl/klantenservice/algemene-vragen/landen-europese-unie/
            </helpText>
        </input-field>

        <component name="postnl-config-product-selection-shipment-nl-eu-default">
            <name>productShipmentNlEuDefault</name>
            <label>Standard shipment, from NL to EU</label>
            <label lang="de-DE">Standardversand, von NL nach EU</label>
            <label lang="nl-NL">Standaard zending, van NL naar EU</label>
        </component>

        <component name="postnl-config-product-selection-shipment-be-eu-default">
            <name>productShipmentBeEuDefault</name>
            <label>Standard shipment, from BE to EU</label>
            <label lang="de-DE">Standardversand, von BE nach EU</label>
            <label lang="nl-NL">Standaard zending, van BE naar EU</label>
        </component>

        <input-field type="bool">
            <name>sendToWorld</name>
            <label>Enable shipments to the rest of the world</label>
            <label lang="de-DE">Sendungen zum Rest der Welt aktivieren</label>
            <label lang="nl-NL">Zendingen naar de rest van de wereld inschakelen</label>
        </input-field>

        <component name="postnl-config-product-selection-shipment-nl-global-default">
            <name>productShipmentNlGlobalDefault</name>
            <label>Standard shipment, from NL to rest of the world</label>
            <label lang="de-DE">Standardversand, von NL nach Rest der Welt</label>
            <label lang="nl-NL">Standaard zending, van NL naar rest van de wereld</label>
        </component>

        <component name="postnl-config-product-selection-shipment-be-global-default">
            <name>productShipmentBeGlobalDefault</name>
            <label>Standard shipment, from BE to rest of the world</label>
            <label lang="de-DE">Standardversand, von BE nach Rest der Welt</label>
            <label lang="nl-NL">Standaard zending, van BE naar rest van de wereld</label>
        </component>

        <input-field type="text">
            <name>fallbackHSCode</name>
            <label>Default HS Tariff code</label>
            <label lang="de-DE">Standard-HS-Zolltarifcode</label>
            <label lang="nl-NL">Standaard GS-tariefcode (HS-tariefcode)</label>
            <helpText>Default HS tariff code for shipments outside the EU, if not entered at product level. Please note that it is mandatory to set this data at product level. To do so, go to Catalog → Products → Specifications.</helpText>
            <helpText lang="nl-NL">Standaard GS-tariefcode (HS-tariefcode) voor zendingen buiten de EU, indien niet ingevuld op productniveau. Let op, het is verplicht om deze gegevens op product-niveau in te stellen. Ga daarvoor naar Catalogus → Producten → Specificaties.</helpText>
            <helpText lang="de-DE">Standard-HS-Zolltarifcode für Sendungen außerhalb der EU, falls nicht auf Produktebene angegeben. Bitte beachten Sie, dass diese Daten zwingend auf Produktebene festgelegt werden müssen. Gehen Sie dazu auf Katalog → Produkte → Spezifikationen.</helpText>
            <placeholder>000000</placeholder>
        </input-field>
    </card>

    <card>
        <title>Delivery options</title>
        <title lang="de-DE">Liefermöglichkeiten</title>
        <title lang="nl-NL">Bezorgopties</title>

        <input-field type="bool">
            <name>showDeliveryDays</name>
            <label>Activate delivery days</label>
            <label lang="de-DE">Liefertage aktivieren</label>
            <label lang="nl-NL">Bezorgdagen activeren</label>

            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="time">
            <name>cutOffTime</name>
            <label>Cut-off time</label>
            <label lang="de-DE">Abschaltzeit</label>
            <label lang="nl-NL">Cut-off tijd</label>
            <helpText>Orders placed after this time will be subject to an additional one day in addition to the delivery time.</helpText>
            <helpText lang="de-DE">Für Bestellungen, die nach dieser Zeit aufgegeben werden, wird ein Tag zusätzlich zur Lieferzeit berechnet.</helpText>
            <helpText lang="nl-NL">Voor bestellingen die na dit tijdstip worden geplaatst wordt één dag extra bovenop de overkomstduur gerekend.</helpText>
            <placeholder>17:00</placeholder>
        </input-field>

        <input-field type="int">
            <!--
            This option does not represent the time it takes for PostNL to deliver the package to the customer, as the
            description would suggest, rather it's the number of drop-off days the merchant needs to deliver their
            package to PostNL. The minimum and default value for this is 1, which means the merchant will drop the
            package off on the same day the order is placed.
            -->
            <name>shippingDuration</name>
            <label>Transit time (in days)</label>
            <label lang="de-DE">Durchgangszeit (in Tagen)</label>
            <label lang="nl-NL">Overkomstduur (in dagen)</label>
            <helpText>Number of days it takes to deliver the package to the customer.</helpText>
            <helpText lang="de-DE">Anzahl der Tage, die für die Zustellung des Pakets an den Kunden benötigt werden.</helpText>
            <helpText lang="nl-NL">Aantal dagen dat het duurt om het pakket bij de klant af te leveren.</helpText>
            <placeholder>1</placeholder>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="multi-select">
            <name>dropoffDays</name>
            <label>Drop-off days</label>
            <label lang="de-DE">Liefertage</label>
            <label lang="nl-NL">Aanlever dagen</label>
            <helpText>Do you deliver your packages to PostNL on Sundays? Make sure it is contractually agreed that PostNL will sort your packages on Sunday. Only then will the packages also be delivered on Monday.</helpText>
            <helpText lang="de-DE">Liefern Sie Ihre Pakete auch sonntags an PostNL? Achten Sie dann darauf, dass vertraglich vereinbart ist, dass PostNL Ihre Pakete sonntags sortiert. Nur dann werden die Pakete auch am Montag zugestellt.</helpText>
            <helpText lang="nl-NL">Lever jij op zondag jouw pakketten in bij PostNL? Zorg dan ook dat er contractueel is vastgelegd dat PostNL jouw pakketten op zondag sorteerd. Alleen dan worden de pakketten ook op maandag bezorgd.</helpText>
            <options>
                <option>
                    <id>1</id>
                    <name>Monday</name>
                    <name lang="de-DE">Montag</name>
                    <name lang="nl-NL">Maandag</name>
                </option>
                <option>
                    <id>2</id>
                    <name>Tuesday</name>
                    <name lang="de-DE">Dienstag</name>
                    <name lang="nl-NL">Dinsdag</name>
                </option>
                <option>
                    <id>3</id>
                    <name>Wednesday</name>
                    <name lang="de-DE">Mittwoch</name>
                    <name lang="nl-NL">Woensdag</name>
                </option>
                <option>
                    <id>4</id>
                    <name>Thursday</name>
                    <name lang="de-DE">Donnerstag</name>
                    <name lang="nl-NL">Donderdag</name>
                </option>
                <option>
                    <id>5</id>
                    <name>Friday</name>
                    <name lang="de-DE">Freitag</name>
                    <name lang="nl-NL">Vrijdag</name>
                </option>
                <option>
                    <id>6</id>
                    <name>Saturday</name>
                    <name lang="de-DE">Samstag</name>
                    <name lang="nl-NL">Zaterdag</name>
                </option>
                <option>
                    <id>7</id>
                    <name>Sunday</name>
                    <name lang="de-DE">Sonntag</name>
                    <name lang="nl-NL">Zondag</name>
                </option>
            </options>
        </input-field>

        <input-field type="bool">
            <name>eveningDelivery</name>
            <label>Enable evening delivery</label>
            <label lang="de-DE">Abendzustellung aktivieren</label>
            <label lang="nl-NL">Avondlevering activeren</label>

            <defaultValue>false</defaultValue>
        </input-field>

        <component name="postnl-currency-field">
            <name>eveningSurcharge</name>
            <label>Evening delivery surcharge</label>
            <label lang="de-DE">Abendzustellungszuschlag</label>
            <label lang="nl-NL">Toeslag avondbezorging</label>
        </component>
    </card>

    <card>
        <title>Address check</title>
        <title lang="de-DE">Adressprüfung</title>
        <title lang="nl-NL">Adrescheck</title>

        <component name="postnl-config-description-text">
            <name>addressCheckTitle</name>
            <label>Based on the combination Postal Code and Housenumber, Dutch addresses customers fill in are validated.</label>
            <label lang="de-DE">Anhand der Kombination aus Postleitzahl und Hausnummer werden die von den Kunden eingegebenen niederländischen Adressen überprüft.</label>
            <label lang="nl-NL">Op basis van de combinatie postcode en huisnummer worden Nederlandse adressen die klanten invullen gevalideerd.</label>
        </component>

        <input-field type="bool">
            <name>addressCheck</name>
            <label>Activate address check</label>
            <label lang="de-DE">Adressprüfung aktivieren</label>
            <label lang="nl-NL">Adrescheck activeren</label>

            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <component name="postnl-config-description-text">
            <name>returnLabelInTheBoxTitle</name>
            <label>Print return label directly when the shipping label is printed so that the return label can be put in the box.</label>
            <label lang="de-DE">Drucken Sie das Rücksendeetikett direkt beim Drucken des Versandetiketts, damit das Rücksendeetikett in den Karton gelegt werden kann.</label>
            <label lang="nl-NL">Druk het retourlabel direct af wanneer het verzendlabel wordt afgedrukt, zodat het retouretiket in de doos kan worden gedaan.</label>
        </component>

        <title>Return label</title>
        <title lang="de-DE">Rücksendeetikett</title>
        <title lang="nl-NL">Retourlabel</title>
        <input-field type="bool">
            <name>returnLabelInTheBox</name>
            <label>Print return label</label>
            <label lang="de-DE">Rücksendeetikett drucken</label>
            <label lang="nl-NL">Retourlabel afdrukken</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Label Format</title>
        <title lang="de-DE">Etikett Format</title>
        <title lang="nl-NL">Labelformaat</title>
<!--
        <input-field type="single-select">
            <name>printerFile</name>
            <label>File format</label>
            <defaultValue>pdf</defaultValue>
            <options>
                <option>
                    <id>pdf</id>
                    <name>PDF</name>
                </option>
                <option>
                    <id>jpg</id>
                    <name>JPG</name>
                </option>
                <option>
                    <id>gif</id>
                    <name>GIF</name>
                </option>
                <option>
                    <id>zpl</id>
                    <name>ZPL</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>printerDPI</name>
            <label>Dpi</label>
            <helpText>Only applicable when selecting GIF, JPG or ZPL
            </helpText>
            <defaultValue>300</defaultValue>
            <options>
                <option>
                    <id>200</id>
                    <name>200</name>
                </option>
                <option>
                    <id>300</id>
                    <name>300</name>
                </option>
                <option>
                    <id>600</id>
                    <name>600</name>
                </option>
            </options>
        </input-field>
        -->
        <input-field type="single-select">
            <name>printerFormat</name>
            <label>Paper size</label>
            <label lang="de-DE">Papierformat</label>
            <label lang="nl-NL">Papierformaat</label>
            <helpText>Labels are always printed in A6. When selecting A4 you can print 4 labels on one page. Labels for
                Global Pack shipments are always printed in A4.
            </helpText>
            <helpText lang="de-DE">Labels werden immer in A6 gedruckt. Wenn Sie A4 wählen, können Sie 4 Labels auf eine
                Seite drucken. Labels für Global Pack Sendungen werden immer in A4 gedruckt.
            </helpText>
            <helpText lang="nl-NL">Labels worden altijd in A6 afgedrukt. Als u A4 selecteert, kunt u 4 etiketten op één
                pagina afdrukken. Labels voor Global Pack zendingen worden altijd afgedrukt in A4.
            </helpText>
            <defaultValue>a4</defaultValue>
            <options>
                <option>
                    <id>a4</id>
                    <name>A4</name>
                </option>
                <option>
                    <id>a6</id>
                    <name>A6</name>
                </option>
            </options>
        </input-field>
    </card>

    <card>
        <title>Technical Settings</title>
        <title lang="de-DE">Technische Einstellungen</title>
        <title lang="nl-NL">Technische instellingen</title>

        <input-field type="bool">
            <name>debugMode</name>
            <label>Debug mode</label>
            <label lang="de-DE">Debug-Modus</label>
            <label lang="nl-NL">Debug modus</label>
            <helpText>Debug mode logs more data. This can be used to diagnose possible problems.</helpText>
            <helpText lang="de-DE">Im Debug-Modus werden mehr Daten erfasst. Dies kann zur Diagnose möglicher Probleme
                verwendet werden.
            </helpText>
            <helpText lang="nl-NL">De Debug-modus logt meer gegevens. Dit kan worden gebruikt om mogelijke problemen te
                diagnosticeren.
            </helpText>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
</config>
