<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>PostNL integration for Shopware 6</title>
        <title lang="de-DE">PostNL-Integration für Shopware 6</title>
        <title lang="nl-NL">PostNL integratie voor Shopware 6</title>

        <input-field type="password">
            <name>productionApiKey</name>
            <copyable>true</copyable>
            <label>Production API Key</label>
            <label lang="de-DE">Produktions-API-Schlüssel</label>
            <label lang="nl-NL">Productie API Key</label>
        </input-field>

        <input-field type="password">
            <name>sandboxApiKey</name>
            <copyable>true</copyable>
            <label>Sandbox API Key</label>
            <label lang="de-DE">Sandbox-API-Schlüssel</label>
            <label lang="nl-NL">Sandbox API Key</label>
        </input-field>

        <component name="postnl-customer-data">
            <name>customerData</name>
            <label>Customer data</label>
            <label lang="de-DE">Label missing</label>
            <label lang="nl-NL">Klantgegevens</label>
        </component>

        <component name="postnl-api-credentials-test">
            <name>apiTestButton</name>
            <label>API Connection test</label>
            <label lang="de-DE">API Verbindung testen</label>
            <label lang="nl-NL">API Verbinding testen</label>
        </component>
    </card>

    <card>
        <title>Modes</title>
        <title lang="de-DE">Modi</title>
        <title lang="nl-NL">Modi</title>

        <input-field type="bool">
            <name>sandboxMode</name>
            <label>Sandbox mode</label>
            <label lang="de-DE">Sandbox-Modus</label>
            <label lang="nl-NL">Sandbox modus</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>debugMode</name>
            <label>Debug mode</label>
            <label lang="de-DE">Debug-Modus</label>
            <label lang="nl-NL">Debug modus</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Addresses</title>
        <title lang="de-DE">Adressen</title>
        <title lang="nl-NL">Adressen</title>

        <component name="postnl-sender-address">
            <name>senderAddress</name>
            <label>Sender address</label>
            <label lang="de-DE">Absender-Adresse</label>
            <label lang="nl-NL">Adres afzender</label>
        </component>

        <component name="postnl-return-address">
            <name>returnAddress</name>
            <label>Return address</label>
            <label lang="de-DE">Absender-Adresse</label>
            <label lang="nl-NL">Adres afzender</label>
        </component>
    </card>
</config>
