<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API</title>
        <title lang="de-DE">API</title>
        <title lang="nl-NL">API</title>

        <component name="postnl-config-api-credentials-link">
            <name>apiCredentialsLink</name>
        </component>

        <input-field type="password">
            <name>productionApiKey</name>
            <copyable>true</copyable>
            <label>Production API Key</label>
            <label lang="de-DE">Produktions-API-Schlüssel</label>
            <label lang="nl-NL">Productie API Key</label>
        </input-field>

        <input-field type="password">
            <name>sandboxApiKey</name>
            <copyable>true</copyable>
            <label>Sandbox API Key</label>
            <label lang="de-DE">Sandbox-API-Schlüssel</label>
            <label lang="nl-NL">Sandbox API Key</label>
        </input-field>

        <input-field type="single-select">
            <name>apiMode</name>
            <label>API mode</label>
            <label lang="de-DE">API-Modus</label>
            <label lang="nl-NL">API modus</label>
            <defaultValue>production</defaultValue>
            <options>
                <option>
                    <id>production</id>
                    <name>Production</name>
                    <name lang="de-DE">Production</name>
                    <name lang="nl-NL">Productie</name>
                </option>
                <option>
                    <id>sandbox</id>
                    <name>Sandbox</name>
                    <name lang="de-DE">Sandbox</name>
                    <name lang="nl-NL">Sandbox</name>
                </option>
            </options>
        </input-field>

        <component name="postnl-config-customer-data">
            <name>customerData</name>
            <label>Customer data</label>
            <label lang="de-DE">Kundendaten</label>
            <label lang="nl-NL">Klantgegevens</label>
        </component>

        <component name="postnl-config-api-credentials-test">
            <name>apiCredentialsTest</name>
            <label>API Connection test</label>
            <label lang="de-DE">API Verbindung testen</label>
            <label lang="nl-NL">API Verbinding testen</label>
        </component>
    </card>

    <card>
        <title>Addresses</title>
        <title lang="de-DE">Adressen</title>
        <title lang="nl-NL">Adressen</title>

        <component name="postnl-config-sender-address">
            <name>senderAddress</name>
            <label>Sender address</label>
            <label lang="de-DE">Absender-Adresse</label>
            <label lang="nl-NL">Adres afzender</label>
        </component>

        <component name="postnl-config-return-address">
            <name>returnAddress</name>
            <label>Return address</label>
            <label lang="de-DE">Absender-Adresse</label>
            <label lang="nl-NL">Adres afzender</label>
        </component>
    </card>

    <card>
        <title>Default Products</title>
        <title lang="de-DE">Standardprodukte</title>
        <title lang="nl-NL">Standaard Producten</title>

        <component name="postnl-config-product-selection-shipment-nl-nl-default">
            <name>productShipmentNlNlDefault</name>
            <label>Standard shipment, from NL to NL</label>
            <label lang="de-DE">Standardversand, von NL nach NL</label>
            <label lang="nl-NL">Standaard zending, van NL naar NL</label>
        </component>
        <component name="postnl-config-product-selection-shipment-nl-nl-alternative">
            <name>productShipmentNlNlAlternative</name>
            <label>Standard shipment, from NL to NL - Alternative</label>
            <label lang="de-DE">Standardversand, von NL nach NL - Alternativ</label>
            <label lang="nl-NL">Standaard zending, van NL naar NL - Alternatief</label>
        </component>

        <component name="postnl-config-product-selection-pickup-nl-nl-default">
            <name>productPickupNlNlDefault</name>
            <label>Pick-up at PostNL location, from NL to NL</label>
            <label lang="de-DE">Abholung am PostNL-Standort, von NL nach NL</label>
            <label lang="nl-NL">Ophalen bij een PostNL-punt, van NL naar NL</label>
        </component>


        <component name="postnl-config-product-selection-shipment-nl-be-default">
            <name>productShipmentNlBeDefault</name>
            <label>Standard shipment, from NL to BE</label>
            <label lang="de-DE">Standardversand, von NL nach BE</label>
            <label lang="nl-NL">Standaard zending, van NL naar BE</label>
        </component>
        <component name="postnl-config-product-selection-shipment-nl-be-alternative">
            <name>productShipmentNlBeAlternative</name>
            <label>Standard shipment, from NL to BE - Alternative</label>
            <label lang="de-DE">Standardversand, von NL nach BE - Alternativ</label>
            <label lang="nl-NL">Standaard zending, van NL naar BE - Alternatief</label>
        </component>

        <component name="postnl-config-product-selection-pickup-nl-be-default">
            <name>productPickupNlBeDefault</name>
            <label>Pick-up at PostNL location, from NL to BE</label>
            <label lang="de-DE">Abholung am PostNL-Standort, von NL nach BE</label>
            <label lang="nl-NL">Ophalen bij een PostNL-punt, van NL naar BE</label>
        </component>
    </card>

    <card>
        <title>Labels</title>
        <title lang="de-DE">Labels</title>
        <title lang="nl-NL">Labels</title>

        <input-field type="single-select">
            <name>printerFormat</name>
            <label>Paper size</label>
            <label lang="de-DE">Papierformat</label>
            <label lang="nl-NL">Papierformaat</label>
            <helpText>Labels are always printed in A6. When selecting A4 you can print 4 labels on one page. Labels for Global Pack shipments are always printed in A4</helpText>
            <helpText lang="de-DE">Labels werden immer in A6 gedruckt. Wenn Sie A4 wählen, können Sie 4 Labels auf eine Seite drucken. Labels für Global Pack Sendungen werden immer in A4 gedruckt.</helpText>
            <helpText lang="nl-NL">Labels worden altijd in A6 afgedrukt. Als u A4 selecteert, kunt u 4 etiketten op één pagina afdrukken. Labels voor Global Pack zendingen worden altijd afgedrukt in A4</helpText>
            <defaultValue>a4</defaultValue>
            <options>
                <option>
                    <id>a4</id>
                    <name>A4</name>
                </option>
                <option>
                    <id>a6</id>
                    <name>A6</name>
                </option>
            </options>
        </input-field>
    </card>

    <card>
        <title>Other</title>
        <title lang="de-DE">Sonstiges</title>
        <title lang="nl-NL">Overige</title>

        <input-field type="bool">
            <name>autoConfirmShipments</name>
            <label>Automatically confirm shipments</label>
            <label lang="de-DE">Automatische Vorankündigung von Sendungen</label>
            <label lang="nl-NL">Automatisch zendingen voormelden</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>debugMode</name>
            <label>Debug mode</label>
            <label lang="de-DE">Debug-Modus</label>
            <label lang="nl-NL">Debug modus</label>
            <helpText>Debug mode logs more data. This can be used to diagnose possible problems</helpText>
            <helpText lang="de-DE">Im Debug-Modus werden mehr Daten erfasst. Dies kann zur Diagnose möglicher Probleme verwendet werden</helpText>
            <helpText lang="nl-NL">De Debug-modus logt meer gegevens. Dit kan worden gebruikt om mogelijke problemen te diagnosticeren</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
</config>
