<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_detail_details_shipping_date %}
    <sw-datepicker
        v-if=" postNLDeliveryDate"
        v-model:value="postNLDeliveryDate"
        disabled
        :label="$t('sw-order.detailDeliveries.labelDeliveryDate')"
    />

    <div v-else></div>
{% endblock %}

{% block sw_order_detail_details_shipping_tracking_codes %}
    {% parent %}

    <sw-datepicker
        v-if="isPostNLOrder && postNLSentDate"
        v-model:value="postNLSentDate"
        disabled
        :label="$t('postnl.order.detail.sentDate')"
    />
    <div v-else></div>
{% endblock %}