{% block postnl_icon %}
    <span
        class="postnl-icon postnl-icon--fill"
        :class="classes"
        :style="styles"
        :aria-hidden="decorative || undefined"
    >
        <postnl-assets-icons-postnl/>
    </span>
{% endblock %}
