@import "~scss/variables";
@import "~scss/mixins";

.postnl-icon {
    @include size(24px);

    display: inline-block;
    vertical-align: middle;
    line-height: 0;

    > svg {
        width: 100% !important;
        height: 100% !important;
        vertical-align: middle;
    }

    &.postnl-icon--fill > svg {
        fill: currentcolor;

        path,
        use {
            fill: currentcolor;
        }
    }

    &.postnl-icon--small {
        @include size(16px);
    }

    &.postnl-icon--large {
        @include size(32px);
    }
}
