{% block sw_collapse_panel_header %}
<!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
<div class="postnl-memo-collapse__header"
     :class="headerClass"
     @click="collapseItem">
    {% block memo_collapse_title %}
        <div class="postnl-memo-collapse__title">
            <slot name="header" v-bind="{ expanded, disabled }">
                {% block memo_collapse_panel_title_slot %}{% endblock %}
            </slot>
        </div>
    {% endblock %}

    {% block memo_collapse_buttons %}
        <sw-container align="center" class="postnl-memo-collapse__indicator">
            <sw-icon
                name="regular-chevron-right-xs"
                class="postnl-memo-collapse__button"
                :class="expandButtonClass"
            />
            <sw-icon
                name="regular-chevron-down-xs"
                class="postnl-memo-collapse__button"
                :class="collapseButtonClass"
            />
        </sw-container>
    {% endblock %}
</div>
{% endblock %}

{% block sw_collapse_panel_content %}
<div v-if="expanded" class="postnl-memo-collapse__content">
    <slot name="content" v-bind="{ expanded, disabled }">
        {% block memo_collapse_panel_content_slot %}{% endblock %}
    </slot>
</div>
{% endblock %}
