@import "~scss/variables";

$postnl-memo-collapse-color-disabled: $color-gray-100;
$postnl-memo-collapse-color-divider: $color-gray-300;
$postnl-memo-collapse-color-title: $color-darkgray-200;
$postnl-memo-collapse-font-size-title: $font-size-small;

.postnl-memo-collapse {
    &__header {
        display: grid;
        grid-template-columns: 1fr auto;
        cursor: pointer;
        padding: 12px 16px;
        color: $postnl-memo-collapse-color-title;

        &.is--disabled {
            background-color: $postnl-memo-collapse-color-disabled;
        }
    }

    &__title {
        font-size: $postnl-memo-collapse-font-size-title;
        font-weight: normal;
        line-height: 22px;
        min-height: 22px;
    }

    &__button {
        width: 16px;
        height: 16px;

        &.is--hidden {
            display: none;
        }
    }


    &__content {
        border-top: 1px solid $postnl-memo-collapse-color-divider;
        padding: 12px 16px;

        .sw-field:last-child {
            margin-bottom: 0;
        }
    }
}
