@import "palette-creator";

$postnl-palette: palette(#ed7000, 'color-postnl-');
@debug $postnl-palette;
//$postnl-palette: palette(#f56900);

@each $value, $color in $postnl-palette {
    $value: $color;


    //.postnl-color-#{$value} {
    //    background-color: $color-postnl-#{$value};
    //}
}




[class^="postnl-color"] {
    width: 100px;
    height: 100px;
}
