@import "palette-creator";

$postnl-palette: palette(#ed7000); // Old color
$postnl-palette: palette(#f56900); // New color

$color-postnl-50: map-get($postnl-palette, "50");
$color-postnl-100: map-get($postnl-palette, "100");
$color-postnl-200: map-get($postnl-palette, "200");
$color-postnl-300: map-get($postnl-palette, "300");
$color-postnl-400: map-get($postnl-palette, "400");
$color-postnl-500: map-get($postnl-palette, "500");
$color-postnl-600: map-get($postnl-palette, "600");
$color-postnl-700: map-get($postnl-palette, "700");
$color-postnl-800: map-get($postnl-palette, "800");
$color-postnl-900: map-get($postnl-palette, "900");


[class^="postnl-color"] {
    width: 100px;
    height: 100px;
    display: inline-block;
}

@each $value, $color in $postnl-palette {
    .postnl-color-#{$value} {
        background-color: $color;
    }
}
